{% extends 'header.html' %}
{% block content %}
    <!-- # write your blog related code here -->
    {% include 'about.html' with name="praveen" title="me" %}
   <p>This is my first understanding by {{name}}</p>
   <br>
   <br>
   <h3>Form which uses GET</h3>
   <br>
   <form action="add">
       {% csrf_token %}
       <label>Enter x:</label>
       <input type="number" name="x">
       <label>Enter y:</label>
       <input type="number" name="y">
       <input type="Submit">
   </form>
   <h3>Form which uses POST</h3>
   <br>
   <form action="add" method="post">
       {% csrf_token %}
       <label>Enter x:</label>
       <input type="number" name="x">
       <label>Enter y:</label>
       <input type="number" name="y">
       <input type="Submit">
   </form>
{% endblock %}

# None of the code written here will be added to the template

