{% extends "header.html" %}  

{% block content %}
<p>Register</p>

<br>
<br>
<form action="register" method="post">
    {% csrf_token %}

    <input type="text" name="first_name" placeholder="First Name"> <br>
    <input type="text" name="last_name" placeholder="Last Name"> <br>
    <input type="text" name="username" placeholder="User Name"> <br>
    <input type="email" name="email" placeholder="Email"> <br>
    <input type="password" name="password1" placeholder="Password"> <br>
    <input type="password" name="password2" placeholder="Confirm password"> <br>
    <input type="Submit">
</form>
    <div>
        
        {% for msg in messages %}
        <h3>{{msg}}</h3>
        {% endfor %}
    </div>
{% endblock %}